html {
  scroll-behavior: smooth;
}

#bannerh1 {
  margin-bottom: 10vh;
  font-weight: bold;
  text-align: center;
  font-size: 5rem;
  color: whitesmoke;
}

h2 {
  font-weight: bold;
}

h4 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

#scrolldown {
  background: #051f2b;
  display: inline-block;
  opacity: 0.8;
  transition: all 1.2s ease;
}

#scrolldown:hover {
  background: whitesmoke;
  color: #4083c5;
  display: inline-block;
  opacity: 0.8;
}

#scrolldown:hover {
  transition: all 1.2s ease;
  transform: scale(1.2);
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #3b5998;
  background: url(../images/General/bg-image-2.jpg) center/cover fixed no-repeat;
  overflow-x: hidden;
}

.body-overlay {
  background: linear-gradient(
    rgba(255, 255, 255, 0.108),
    rgba(255, 255, 255, 0.108)
  );
}

#course-items,
#team,
#contact,
#partners {
  padding-top: 15rem;
  min-height: 100vh;
}

#jobday-title {
  color: whitesmoke;
  align-self: center;
  text-align: right;
  font-size: 25px;
}

.primary-color-social {
  color: #f1fffa;
}

.info a {
  transition: color 1.3s ease-in-out;
}
.info a:hover {
  color: #242424;
}

/*#######################   header  #######################*/

#header {
  min-height: calc(100vh - 94px);

  background: url(../images/General/header-picture.jpg);

  background-position: center;
  background-size: cover;

  /* for positioning link order online to be relative: header is parent container */
  position: relative;
}

.height-90 {
  min-height: calc(100vh - 94px);
}

.banner h1 {
  border-top: 6px dotted #ffffff;
  border-bottom: 6px dotted #ffffff;
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.banner h2 {
  animation: fromRight;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.main-btn {
  color: #ffffff;
  background: #032c3f;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #ffffff;
  transition: all 1s ease-in-out;
  animation-fill-mode: forwards;
}

.main-btn:hover {
  color: #051f2b;
  border: 3px solid #051f2b;
  background: #f1fffa;
  animation-fill-mode: forwards;
}

.main-btn-animation {
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0.8;
  animation-fill-mode: forwards;
}

@keyframes fromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
    opacity: 0.7;
  }
}

.header-subtext {
  color: white;
  text-align: center;
}

.gallery-link img {
  height: 15rem;
  width: 25rem;
}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: whitesmoke;
  background: #c9c1ac;
  border-radius: 10px;
  transition: all 1.2s ease;
  animation: fromBottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.header-link:hover {
  color: #242424;
  transition: all 1.2s ease;
  transform: scale(1.2);
}

@keyframes fromBottom {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}

/*###################  course items  #######################*/

.title-sections {
  color: #f1fffa;
  text-align: center;
  font-size: 70px;
  text-decoration: wavy;
  text-decoration-color: #c9c1ac;
}

.img-thumbnail img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.item-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  transition: all 1.2s ease;
}

.item-img {
  transition: all 1.2s ease;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 0.7;
}

.item-link {
  color: whitesmoke;
  font-size: 4rem;
  font-weight: bold;
  padding: 4px;
  background: linear-gradient(rgba(238, 55, 55, 0.63), rgba(235, 49, 49, 0.63));
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1.2s ease;
  opacity: 1;
}

.item-container:hover .item-link {
  opacity: 1;
}

.item-container:hover {
  outline: 8px solid #7cb4ec;
  outline-offset: 0.9rem;
}

/*#################   card  #######################*/

.btn-personal-site {
  color: #f1fffa;
  background-color: #051f2b;
  align-items: right;
}

.btn-personal-site:hover {
  color: #f1fffa;
  background: #242424;

  border: 2px solid #f1fffa;
  align-items: right;
}

.team-card {
  overflow: hidden;
  transition: all 1.6s ease-in-out;
  color: #242424;
  background-color: #b9c9d8;
  border: 3px solid rgb(196, 190, 190);
  border-radius: 15px;
  box-shadow: 3px 3px 2px 3px rgba(136, 136, 136, 0.7);
}

.team-card:hover {
  overflow: hidden;
  color: #f1fffa;
  background: linear-gradient(#051f2b, #000000);
  opacity: 0.86;
  transform: scale(1.1);
}
.team-card h3 {
  font-weight: bold;
}
.team-card h5 {
  font-weight: bold;
  color: #242424;
}

.team-card:hover h5 {
  transition: all 1.2s ease;
  font-weight: bold;
  color: whitesmoke;
}

/*##############    Contact section   ####################*/

#contact .card {
  background: rgba(0, 0, 0, 0.5);
  transition: all 2s ease;
}

#contact .car:hover {
  background: rgba(0, 0, 0, 0.8);
}

#contact .card-header {
  color: #7cb4ec;
  font-weight: bold;
}

#contact .card-header h6 {
  color: #f1fffa;
}

#contact .input-group-text {
  background: #7cb4ec;
  border-color: #7cb4ec;
  color: #242424;
}

#contact .card input {
  color: #242424;
}

#contact .card input::placeholder {
  color: #7a7979;
}

.contact-btn {
  color: #7cb4ec;
  font-weight: bold;
  border-color: #7cb4ec;
  background: transparent;
  transition: all 1.2s ease-in-out;
}

.contact-btn:hover {
  color: #f1fffa;
  background: #164a79;
}

.fa-hand-point-right {
  font-size: 1rem;
  color: whitesmoke;
}

.thankyou_message{
  color:whitesmoke;
}

/*##########    footer    ##################*/
#back-to-top {
  background: #051f2b;
  display: inline-block;
}
#back-to-top:hover {
  background: whitesmoke;
  color: #4083c5;
  display: inline-block;
  opacity: 0.8;
}

.scrollTop {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

#footer,
#top-icons {
  opacity: 0.9;
  background: linear-gradient(
    180deg,
    #f7f7f8,
    #235f94,
    #235f94,
    #194c79,
    #235f94,
    #235f94,
    #f7f7f8
  );
}
#copyright {
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
  align-content: right;
  font-size: 20px;
}

/*#####################   navbar    ########################*/
.navbar {
  background: linear-gradient(
    180deg,
    #eff5fc,
    #164a79,
    #0e3557,
    #051f2b,
    #051f2b,
    #164a79,
    #eff5fc
  );

  padding: 20px;
  transition: all 1s ease;
  opacity: 0.8;
}

/* for when you scroll and navbar becomes sticky ==> padding change top bottom  */
.navbar-background {
  padding: 5px 20px;
}

#nav-contact-us,
#nav-our-skills,
#nav-our-team,
#nav-our-partners,
#nav-our-curriculum {
  background: #051f2b;
  color: #f1fffa;
  transition: all 1.2s ease;
  font-weight: normal;
  font-size: 20px;
  border: 2px solid #f1fffa;
  border-radius: 10px;

  font-weight: bold;
  margin: 10px;
}

#nav-contact-us:hover,
#nav-our-skills:hover,
#nav-our-team:hover,
#nav-our-partners:hover,
#nav-our-curriculum:hover {
  background: #f1fffa;
  color: #051f2b;
  border: 2px solid #051f2b;
  transform: rotate(7deg);
}

.toggler-btn {
  border: 2px solid #f1fffa;
  padding: 5px;
  transition: all 1.2s ease;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #f1fffa;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

#course-items,
#team,
#contact {
  margin-top: 5rem;
}

#slide-course {
  padding-top: 8rem;
}

.slideshow-container {
  border: 3px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(136, 136, 136, 0.7);
}

/*#################   partners    #######################*/
#partners {
  background: rgba(255, 255, 255, 0.3);

  padding-top: 8rem;
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
}

.partner-container {
  background: transparent;
  border: none;
  margin: auto;
  display: block;
}
/*#####################  Carousel Course items ##################### */

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #d4cdf5;
  font-size: 5rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */

/*.fade {
   -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
}*/

/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
} */

/* @-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */

.awesome-icon {
  color: whitesmoke;
  font-size: 5rem;
  font-weight: bold;
  padding: 4px;
  display: block;
  align-content: center;
  transition: all 1.2s ease;
  opacity: 1;
}
.awesome-icon:hover {
  transform: scale(1.6);
  color: cornflowerblue;
}

/*#################################  personalized icons  ############################*/

.ts-icon {
  content: url("../images/svg-icons/Typescript.svg");
  width: 70px;
  height: 70px;
  color: whitesmoke;
  background: transparent;
  display: block;
  align-content: center;
  transition: all 1.2s ease;
}
.ts-icon:hover {
  filter: brightness(0.45) sepia(0.4) hue-rotate(180deg) saturate(8.5);
  transition: all 1.02s ease;
  transform: scale(1.4);
}

.jpa-icon {
  content: url("../images/svg-icons/jpa.svg");
  width: 70px;
  height: 70px;
  color: whitesmoke;
  background: transparent;
  display: block;
  align-content: center;
  transition: all 1.2s ease;
}
.jpa-icon:hover {
  filter: brightness(0.45) sepia(0.4) hue-rotate(180deg) saturate(8.5);
  transition: all 1.02s ease;
  transform: scale(1.4);
}

.jdbc-icon {
  content: url("../images/svg-icons/jdbc.svg");
  width: 70px;
  height: 70px;
  color: whitesmoke;
  background: transparent;
  display: block;
  align-content: center;
  transition: all 1.2s ease;
}
.jdbc-icon:hover {
  filter: brightness(0.45) sepia(0.4) hue-rotate(180deg) saturate(8.5);
  transition: all 1.02s ease;
  transform: scale(1.4);
}

.uml-icon {
  content: url("../images/svg-icons/uml.svg");
  width: 90px;
  height: 90px;

  color: whitesmoke;
  background: transparent;
  display: block;
  align-content: center;
  transition: all 1.2s ease;
}
.uml-icon:hover {
  filter: brightness(0.45) sepia(0.4) hue-rotate(180deg) saturate(8.5);
  transition: all 1.02s ease;
  transform: scale(1.6);
}

#java-cup {
  color: whitesmoke;
  font-weight: bold;
}

#java-cup:hover {
  color: #f89007;
  font-weight: bold;
}

.icon-spring {
  color: whitesmoke;
  font-size: 4rem;
  font-weight: bold;
  padding: 4px;
  background: transparent;
  display: block;
  align-content: center;
  transition: all 1.2s ease;
  opacity: 1;
}

.icon-spring:hover {
  transform: scale(1.6);
  color: cornflowerblue;
}

/* //////////////////// count doun time scrolling ////////////////////// */

.cssmarquee {
  height: 50px;
  overflow: hidden;
  position: relative;
}
h4 {
  font-size: 2em;
  font-size: 2em;
  color: turquoise;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  transform: translateX(100%);
  animation: cssmarquee 15s linear infinite;
}

@keyframes cssmarquee {
  100% {
    transform: translateX(-100%);
  }
  0% {
    transform: translateX(100%);
  }
}
